---
import { Image } from 'astro:assets';
import Container from "./Container.astro";
import CategoryPic from "../lib/categorypic";
import { supabase } from "../lib/supabase";

const { sehir } = Astro.params;
const { data, error } = sehir? await supabase.from("requests").select().eq('address',sehir.toLocaleUpperCase('tr')[0]+sehir.substring(1)).limit(10)
:await supabase.from("requests").select().order("created_at", {ascending: false}).limit(10)
console.log(data);
---

<div id="blog">
  <Container>

    <div class="grid gap-2">
      {
        data?.map(request=>(
       
        <div
        class="group p-4 columns flex h-36 sm:p-4 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="mr-2 w-3/12">
          <img
            src={`/images/${CategoryPic(request.category)}.png`}
            alt="art cover"
            loading="lazy"
            class="rounded-xl w-32 transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="w-8/12 relative">
          <a href={`/talepdetay?id=${request.id}`}>
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            {request.title}
          </h3>
          <p class="mt-1 mb-2 text-gray-600 dark:text-gray-300">
            {request.description}
          </p>
          </a>
          <a href={`/talepdetay?id=${request.id}`}>Talep</a>
        </div>
        <div class="mr-5 w-1/12">
          <a href={`/talepdetay?id=${request.id}`}>
          <img
            src="/images/clapping.png"
            alt="art cover"
            loading="lazy"
            class="rounded-xl w-10 transition duration-500 hover:scale-105"
          />
          </a>
          </div>
      </div>
       </a>
        ))
      }

    </div>
  </Container>
</div>
