---
import { createClient } from "@supabase/supabase-js";
import Container from "./Container.astro";
import CategoryPic from "../lib/categorypic";
import { supabase } from "../lib/supabase";

const { sehir } = Astro.params;
const { data, error } = sehir? await supabase.from("requests").select().eq('address',sehir.toLocaleUpperCase('tr')[0]+sehir.substring(1)).limit(10)
:await supabase.from("requests").select().limit(10)
console.log(data);
---

<div id="blog">
  <Container>
    <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">
        Talepler
      </h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
        Talep listesi {sehir}
      </p>
    </div>
    <div class="grid gap-2">
      {
        data?.map(request=>(
       
        <div
        class="group p-4 flex sm:p-4 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden rounded-xl">
          <a href={`/talepdetay?id=${request.id}`}>
          <img
            src={`/images/${CategoryPic(request.category)}.png`}
            alt="art cover"
            loading="lazy"
            class="w-30 h-40 object-cover object-top transition duration-500 group-hover:scale-105"
          />
          </a>
        </div>
        <div class="mt-3 relative">
          <a href={`/talepdetay?id=${request.id}`}>
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            {request.title}
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            {request.description}
          </p>
            <span class="text-info dark:text-blue-300">Talep detayı</span>
          </a>
        </div>
      </div>
       </a>
        ))
      }

    </div>
  </Container>
</div>
