---
import { Image } from 'astro:assets';
import Container from "./Container.astro";
import CategoryPic from "../lib/categorypic";
import { supabase } from "../lib/supabase";
import Alkis from './Alkis';
import { FetchTalepler } from "../data/fetchTalepler";
import { getUserAuth } from '../AuthFunc';
//const fields='title,description,address,county,category,id,count(votes(id))'
const { sehir,recent } = Astro.params;
console.log(Astro.params)
const userData=await getUserAuth(Astro);
const data=await FetchTalepler(recent, sehir);

---

<div id="blog">
  <Container>
    <div class="grid gap-2">
      {
        data?.map(request=>(
       
        <div
        class="group p-4 columns relative flex sm:p-4 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
      {(request.address!=="------")?<a href={"/talepler/"+request.address}><div class="rounded-3xl bg-secondary absolute top-0 left-0 p-1 px-2 z-50"><strong>{request.address}</strong></div></a>:<span></span>}
        <div class="mr-2 w-3/12">
          
          <img
            src={`/images/${CategoryPic(request.category)}.png`}
            alt="art cover"
            loading="lazy"
            class="rounded-xl w-32 transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="w-8/12 relative">
          <a href={`/talep/${request.slug}`}>
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            {request.title}
          </h3>
          </a>
         {request.category}
          <a
              href={`/talep/${request.slug}`}
              class="relative flex h-9 w-full items-center justify-center mt-4 px-4 before:absolute before:inset-0 before:rounded-full before:bg-btntalep before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-sm font-semibold text-white"
                >Talebi Görüntüle</span>
            </a>
        </div>
        <div class="ml-5 w-1/12">
          
          <Alkis user={userData} requestid={request.id} client:load />
          {request.count>0?<span class="text-lg"><strong id={"vr-"+request.id}>{request.count}</strong></span>:<span></span>}
          </a>
          </div>
      </div>
       </a>
        ))
      }

    </div>
  </Container>
</div>
